<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h1>C R U Á</h1>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "produtos", candles_path, class: "nav-link" %>
        </li>
        <% if current_user.vendor? %>
          <li class="nav-item">
            <%= link_to "nova vela", new_candle_path, class: "nav-link" %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "produtos", candles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
